<footer class="footer">
  <small>
    The <%= link_to "I Owe You App", home_path %>
    by <a href="https://www.linkedin.com/in/winston-mi-529a2611">Winston Mi</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><a href="https://www.linkedin.com/in/winston-mi-529a2611">Contact</a></li>
    </ul>
  </nav>
</footer>
